.title {
  margin: 55px 80px;
}

.container-main-img {
  display: flex;
  justify-content: center;
}

.container-main-img img {
  width: 540px;
  height: 330px;
}

.content {
  margin: 55px 80px;
  line-height: 2rem;
}