.container-main-img {
  display: flex;
  justify-content: center;
}

.container-main-img img {
  width: 540px;
  height: 330px;
  border-radius: 5px;
}

@media(max-width: 550px) {
  .container-main-img img {
    width: 350px;
    height: 280px;
  }
}