.container-thanks {
  margin: 55px 80px;
}

.container-thanks span {
  font-size: 18px;
  text-align: center;
}

.container-main-img-thanks {
  display: flex;
  justify-content: center;
}

.container-main-img-thanks img {
  width: 540px;
  height: 330px;
  border-radius: 5px;
}