.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 53.8%;
}

.logo img {
  margin: 10px;
  z-index: -1;
}

@media(max-width: 550px) {
  .logo img {
    width: 150px;
    height: 150px;
  }
}