.wrapper-container {
  max-width: 1496px;
  display: flex;
  justify-content: space-evenly;
  margin: 35px;
}

.container-img a {
  text-decoration: none;
  margin-bottom: 15px;
}

.container-img a:visited {
  color: inherit;
}

.container-img img {
  width: 250px;
  height: 180px;
  margin: 15px;
  border-radius: 15px;
}

.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.container-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(max-width: 850px) {
  .wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}