.container-main-img {
  display: flex;
  justify-content: center;
}

.container-main-img img {
  width: 540px;
  height: 330px;
  border-radius: 5px;
}

.values-container, .values-2-container {
  margin: 55px 80px;
  line-height: 1.3rem;
}

.values-container p {
  font-size: 0.8rem;
}