.container-main-img-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-main-img-services q {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px 0;
  width: 500px;
  font-size: .7rem;
}

.container-main-img-services img {
  width: 540px;
  height: 330px;
  border-radius: 5px;
}

.content-services {
  margin: 55px 80px;
  line-height: 2rem;
}

@media(max-width: 550px) {
  .container-main-img-services img {
    width: 350px;
    height: 280px;
  }
  .container-main-img-services q {
    width: 300px;
    font-size: .5rem;
  }
  .content-services {
    margin: 25px 40px;
    line-height: 1rem;
  }
}